BASE_URL_OLLAMA=

# Las siguientes variables de entorno no son necesarias para el funcionamiento de la aplicación.
# Solo son necesarias para conectarse con LangSmith. Con declararlas e inicializarlas es suficiente.
# La conexión con LangSmith sucede por detrás gracias a los paquetes, no es necesario hacer nada más.
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=
LANGCHAIN_PROJECT=